* {
	box-sizing: border-box;
}
body {
	background-color: #1DA1F2;
	color: #fff;
	text-align: center;
	h1 {
		margin: 80px auto;
		font-size: 60px;
		font-weight: normal;
	}
	h2 {
		margin: 40px auto;
		font-weight: normal;
	}
	h3 {
		margin: 20px auto;
		font-weight: normal;
	}
	button, a {
		display: block;
		width: 300px;
		font-size: 20px;
		padding: 7px;
		border: 1px solid #fff;
		color: #fff;
		cursor: pointer;
		border-radius: 10px;
	}
	button {
		margin: 100px auto 50px;
		background-color: #1DA1F2;
	}
	a {
		margin: 20px auto;
		text-decoration: none;
	}
}